/* ******COMMONS****** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* ******HEADER****** */

header{
    height: 50px;
    background-color: black;
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .btn{
    background: linear-gradient(#505050, #1f1f1f); 
    cursor: pointer;
    margin: 0 4px;
    padding: 5px 10px;
    border-radius: 6px;
}

header .speaker_view.btn i{
    margin-right: 8px;
}

/* ******MAIN****** */

main{
    height: calc(100vh - 110px);
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* proprietà bottoni main di destra e sinistra */

main .swap_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .swap_btn i{
    color: #7f7f7f;
    font-size: 45px;
}

main .swap_btn i:hover{
    color: #2ebaff;
    cursor: pointer;
}

/* proprietà main centrale degli utenti */

main .users{
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

main .user{
    flex-basis: calc(100% / 5 - 10px);
    height: calc(100% / 5 - 10px);
    background-color: gray;
    background-size: cover;
    margin: 5px;
    display: flex;
    align-items: flex-end;
} 

main .user.speak{
    border: 3px solid greenyellow;
}

main .user_name{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 8px;
    display: flex;
    align-items: center;
}

main .user_name i{
    transform: scaleX(-1);
    font-size: 18px;
    margin-right: 5px;
}

/* ******FOOTER****** */

footer{
    height: 60px;
    background-color: #222326;
}

footer nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .nav_left{
    display: flex;
    align-items: center;
}

footer .nav_main{
    display: flex;
    align-items: center;
}

footer .nav_right{
    height: 100%;
    color: #fe564c;
    background-color: #4a4b4c;
    padding: 0 10px;
    display: flex;
    align-items: center;

}

footer nav li{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li i{
    font-size: 25px;
}

footer li i.fa-chevron-up{
    font-size: 18px;
    margin: 0;
}


/* ******DEBUG****** */

/* .debug header{
    background-color: yellow;
} */

/* .debug main{
    background-color: red;
} */

/* .debug .swap_btn{
    width: 6%;
    height: 100%;
    background-color: red;
} */

.debug .users{
    width: 88%;
    height: 100%;
    background-color: blue;
}

/* .debug .user{
    background-color: darkblue;
} */

/* .debug footer{
    background-color: green;
} */