/* ******COMMONS****** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* ******HEADER****** */

header{
    height: 40px;
}

/* ******MAIN****** */

main{
    height: calc(100vh - 100px);
}

/* ******FOOTER****** */

footer{
    height: 60px;
}


/* ******DEBUG****** */

.debug header{
    background-color: yellow;
}

.debug main{
    background-color: lightblue;
}

.debug footer{
    background-color: green;
}